Repository ralphbird/maze_game: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-export, ruff-format, ruff-check, pyright

uv-export:
  name: Export uv dependencies to requirements.txt
  entry: uv export --format requirements.txt --output-file requirements.txt --no-dev
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  require_serial: true

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false
  require_serial: true

Fix Render deployment and downgrade to Python 3.13.4
  .pre-commit-config.yaml
  .tool-versions
  pyproject.toml
  render.yaml
  requirements.txt
Due: uv-export

Update startCommand to run from src directory
  render.yaml
Due: none

Rewrite README for end users
  README.md
Due: none

Keep instructions visible and auto-reset after 2s
  static/js/game.js
Due: none

Fix controls and generate new maze at same difficulty
  static/js/game.js
Due: none

Add keyboard shortcuts for difficulty selection
  static/js/game.js
Due: none

Add comprehensive test suite and fix test configuration
  pyproject.toml
  tests/test_app.py
  tests/test_maze_generator.py
Due: uv-export, ruff-format, ruff-check, pyright

Add dramatic sound effects for gameplay
  src/maze_game/templates/index.html
  static/js/animator.js
  static/js/audio.js
  static/js/game.js
Due: none

Enable vertical scrolling for high zoom accessibility
  static/css/style.css
Due: none

Path conditions:
  uv-export: any of: ^(pyproject\.toml|uv\.lock)$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  pyright: any of: \.py$
